/.bundle
/.librarian
/.projects
/.snapshot
/.tmp
/bin
/config/local.rb
/log
/tmp
/shared/*
!/shared/README.md
/vendor/gems/
/.ruby-version
/spec/fixtures/.librarian
/spec/fixtures/.tmp
/spec/fixtures/Puppetfile.lock
/spec/fixtures/modules
/spec/fixtures/vendor